@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(88, 56, 109);
    --primary-color-dark: rgb(73, 0, 121);
    --second-color: rgba(207, 205, 205, 0.336);
    --letter-spacing: 0.1em;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;

}

img {
    z-index: 99999;
}

.nav-bar {
    background-image: linear-gradient(to left, var(--primary-color) 5%, var(--second-color) 90%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

.nav-content ul {
    padding: 20px;
}

.nav-content ul li {
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 400ms ease-in-out;
}

.nav-content ul .links:hover {
    color: var(--primary-color);
    transition: all 200ms ease-in-out;
}

.nav-content ul .logo-name a {
    color: white;
    cursor: default;
    float: right;
    margin-left: 0;
    margin-right: 40px;
}

.main-container h1 {
    padding: 20px;
    text-align: center;
}

.main-container .text-centro.descricao {
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.conteudo-tabela {
    text-align: center;
    padding: 10px;
}

.conteudo-tabela .alerta-centro.erro {
    background-color: rgba(250, 128, 114, 0.315);
    width: 70%;
    height: 4em;
    margin: auto auto;
    border: 1px solid rgba(250, 128, 114, 0.452);
    border-radius: 3px;
}

.conteudo-tabela .alerta-centro.erro .error-message {
    position: relative;
    color: rgb(236, 53, 33);
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.conteudo-tabela .alerta-centro.warning {
    background-color: rgba(250, 230, 54, 0.315);
    width: 70%;
    height: 4em;
    margin: auto auto;
    border: 1px solid rgba(250, 230, 54, 0.808);
    border-radius: 3px;
}

.warning-message {
    position: relative;
    color: rgb(182, 169, 52);
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.tabela-hosts {
    padding: 10px;
}

.tabela-hosts .tabela-centro.content {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}


.tabela-hosts .tabela-centro.content .tabela-infos {}

.tabela-hosts .tabela-centro.content .tabela-infos td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
}


/* LOGON STYLE */


.conteudo-login {
    margin-top: 40px;
}

.formulario-centro.login {
    background-color: rgba(88, 56, 109, 0.103);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 30px;
    border-radius: 3px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.formulario-centro.login-cadastro {
    background-color: rgba(88, 56, 109, 0.103);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    padding: 30px;
    border-radius: 3px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.formulario {
    padding: 20px;
}

.formulario input {
    background: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 6px, rgba(0, 0, 0, 0.10) 0px 3px 6px;
}

.formulario input:focus {
    outline-style: solid;
    outline-color: rgba(88, 56, 109, 0.514);
    outline-width: 2px;
}

.formulario button {
    margin-top: 40px;
    border: none;
    cursor: pointer;
    background-color: rgba(88, 56, 109, 0.514);
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 90px;
    transition: all 300ms ease-in-out;
}

.formulario button:hover {
    background-color: rgba(88, 56, 109, 0.863);
}

.conteudo-cadastro {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -55%);
}

.conteudo-cadastro.cadastro-page {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%);
}

.conteudo-cadastro h5 {
    cursor: pointer;
}

.conteudo-cadastro h5:hover {
    color: rgba(88, 56, 109, 0.863);
}