<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
</head>

<body>
    <section class="page-404">
        <h1>Erro 404!</h1>
        <p>Ihh, algo deu errado, volte para a página inicial e tente novamente</p>
        <h5><a href="/">Página inical</a></h5>
    </section>   
    <%- include('./footer.ejs')%>