<% if (errors.length > 0) { %>
    <div class="alerta-centro erro">
        <p class="error-message">
            <% errors.forEach(erro => { %>
                <%= erro %><br>
                <% }) %>
        </p>
    </div>
    <% } %>