<nav class="nav-bar">
    <div class="nav-content">
        <ul>
            <li class="links">
                <a href="/">Home</a>
            </li>
            <li class="links">
                <a href="/login">Login</a>
            </li>
            <li class="logo-name">
                <a>Accenture</a> 
            </li>
        </ul>
    </div>
</nav>