<nav class="nav-bar">
    <div class="nav-content">
        <ul>
            <li class="links">
                <a href="/">Home</a>
            </li>
            <% if(!user) { %>
                <li class="links">
                    <a href="/login">Login</a>
                </li>
                <% } else { %>
                    <li class="links">
                        <a href="/logout">Sair</a>
                    </li>
                    <li class="links">
                        <a href="/hostnames">Editar</a>
                    </li>
                    <% } %>
                        <li class="logo-name">
                            <a>Accenture</a>
                        </li>
        </ul>
    </div>
</nav>