<nav class="nav-bar">
    <div class="nav-content">
        <ul>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a class="login-link" href="/teste">Login</a>
            </li>
        </ul>
    </div>
</nav>