<%- include('./includes/head.ejs')%>
  <%- include('./includes/nav.ejs')%>


    <section class="main-container">
      <h1>
        <%- titulo %>
      </h1>
      <p class="text-centro descricao">Para habilitar a edição, faça o logon em seu perfil</p>

      <div class="conteudo-tabela">
        <div class="alerta-centro erro" hidden>
          <p class="error-message">Erro (getElement)</p>
        </div>

        <div class="alerta-centro warning">
          <p class="warning-message">Apenas visualização</p>
        </div>

        <div class="tabela-hosts">
          <table class="tabela-centro content">
            <tr class="tabela-infos">
              <td>ACC620000</td>
              <td>D0:00:00:AA:BB:CC</td>
              <td>0000VW2</td>
              <td class="status">REMOVIDO</td>
            </tr>
            <tr class="tabela-infos">
              <td>ACC620000</td>
              <td>D0:00:00:AA:BB:CC</td>
              <td>0000VW2</td>
              <td class="status">REMOVER</td>
            </tr>
            <tr class="tabela-infos">
              <td>ACC620000</td>
              <td>D0:00:00:AA:BB:CC</td>
              <td>0000VW2</td>
              <td class="status">REMOVIDO</td>
            </tr>
            <tr class="tabela-infos">
              <td>ACC620000</td>
              <td>D0:00:00:AA:BB:CC</td>
              <td>0000VW2</td>
              <td class="status">REMOVER</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <%- include('./includes/footer.ejs')%>