<%- include('./includes/head.ejs')%>
  <%- include('./includes/nav.ejs')%>


    <section class="main-container">
      <h1>
        <%- titulo %>
      </h1>
    </section>
    <%- include('./includes/footer.ejs')%>