<%- include('./includes/head.ejs')%>

  <section class="container">
    <h1>
      <%- titulo %>
    </h1>

    <form action="/recebidos" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="message" value="O Valor do Token é: ">
      <input type="text" name="inputTest" id="">
      <button>Enviar</button>
    </form>
  </section>

  <%- include('./includes/footer.ejs')%>