<%- include('./includes/head.ejs')%>
    <%- include('./includes/nav.ejs')%>
        <section class="page-404">
            <h1>Seu perfil está logado</h1>
            <p>caso queira sair clique em SAIR ou no link abaixo</p>
            <h5><a href="/logout">Deslogar</a></h5>
        </section>
        <script type="module" src="../assets/js/bundle.js"></script>
        </body>

        </html>